# ASSIGNMENT 7 — OREOPOULOS (2006) PARTIAL REPLICATION
# RD + IV for Great Britain

In [1]:
import pandas as pd
import numpy as np
from linearmodels.iv import IV2SLS

## Data Preprocessing

In [2]:
# 1. Load data
df = pd.read_stata("/Users/macbookpro/Documents/DSDM/Econometrics/assignment_7/assignment7.dta")

In [3]:
df.head()

,sex,age,datyear,agelfted,nireland,yearat14,missing_earn,wght,ones,yearat14_2,...,goodhealth,badhealth,unemployed,incsupport,yobirth,drop14,drop15,drop16,educb14,educb15
0,male,63,84.0,14.0,0.0,35.0,0.0,35,1.0,1225.0,...,0.628571,0.000000,0.029412,0.028571,21.0,1.0,0.0,0.0,1.0,1.0
1,female,63,84.0,14.0,0.0,35.0,0.0,16,1.0,1225.0,...,0.750000,0.062500,0.000000,0.062500,21.0,1.0,0.0,0.0,1.0,1.0
2,male,63,84.0,15.0,0.0,35.0,0.0,3,1.0,1225.0,...,0.000000,0.333333,0.000000,0.000000,21.0,1.0,0.0,0.0,0.0,1.0
3,female,63,84.0,15.0,0.0,35.0,0.0,1,1.0,1225.0,...,1.000000,0.000000,0.000000,0.000000,21.0,1.0,0.0,0.0,0.0,1.0
4,male,63,84.0,16.0,0.0,35.0,0.0,2,1.0,1225.0,...,1.000000,0.000000,0.000000,0.000000,21.0,1.0,0.0,0.0,0.0,0.0

In [4]:
df.shape

(30487, 28)

In [5]:
# Keep Great Britain
df = df[df["nireland"] == 0]

df.shape

(22574, 28)

In [6]:
np.sort(df['age'].unique()), np.sort(df['yearat14'].unique())

(array([28, 29, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47,
        48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64],
       dtype=int16),
 array([35., 36., 37., 38., 39., 40., 41., 42., 43., 44., 45., 46., 47.,
        48., 49., 50., 51., 52., 53., 54., 55., 56., 57., 58., 59., 60.,
        61., 62., 63., 64., 65.], dtype=float32))

In [7]:
# Ages 25-64, cohorts 1935-1965, Great Britain only
df = df[(df['age'] >= 25) & (df['age'] <= 64)]
df = df[(df['yearat14'] >= 35) & (df['yearat14'] <= 65)]
df.shape

(22574, 28)

In [8]:
nulls_df = df.isnull().sum().sort_values(ascending=False).reset_index()

nulls_df[nulls_df[0] != 0]

        index      0
0        linc  12613
1       learn   9456
2  unemployed   7914
3       lhinc   7019
4   badhealth    671
5  goodhealth    671

In [9]:
# Drop missing outcome vars
df = df.dropna(subset=["learn", "agelfted", "drop15", "yearat14"])

df.shape

(13118, 28)

In [10]:
# Create cohort polynomial for RD
df["cohort"] = df["yearat14"]
df["cc"] = df["cohort"] - df["cohort"].mean()
df["cc2"] = df["cc"]**2
df["cc3"] = df["cc"]**3
df["cc4"] = df["cc"]**4

In [11]:
# Create age polynomial
df["cage"] = df["age"] - df["age"].mean()
df['cage2'] = df['cage']**2
df['cage3'] = df['cage']**3
df['cage4'] = df['cage']**4

In [12]:
# Create age dummies
age_dummies = pd.get_dummies(df['age'], prefix='age', drop_first=True)
df = pd.concat([df, age_dummies], axis=1)

In [13]:
age_dummy_cols = age_dummies.columns

age_dummy_cols

Index(['age_29', 'age_33', 'age_34', 'age_35', 'age_36', 'age_37', 'age_38',
       'age_39', 'age_40', 'age_41', 'age_42', 'age_43', 'age_44', 'age_45',
       'age_46', 'age_47', 'age_48', 'age_49', 'age_50', 'age_51', 'age_52',
       'age_53', 'age_54', 'age_55', 'age_56', 'age_57', 'age_58', 'age_59',
       'age_60', 'age_61', 'age_62', 'age_63', 'age_64'],
      dtype='object')

In [14]:
nulls_df = df.isnull().sum().sort_values(ascending=False).reset_index()

nulls_df[nulls_df[0] != 0]

        index     0
0        linc  6686
1       lhinc  3563
2  unemployed  2654
3  goodhealth     2
4   badhealth     2

## RD-IV

In [15]:


# Column (4)
formula_4 = "learn ~ 1 + cc + cc2 + cc3 + cc4 + [agelfted ~ drop15]"

res_4 = IV2SLS.from_formula(
    formula_4,
    data=df,
    weights=df["wght"]
).fit(cov_type="clustered", clusters=df["cohort"])

print("\n=== TABLE 2 Column (4) ===")
print(res_4.summary)

=== TABLE 2 Column (4) ===
                          IV-2SLS Estimation Summary
==============================================================================
Dep. Variable:                  learn   R-squared:                      0.1181
Estimator:                    IV-2SLS   Adj. R-squared:                 0.1178
No. Observations:               13118   F-statistic:                    4037.4
Date:                Tue, Nov 25 2025   P-value (F-stat)                0.0000
Time:                        18:56:32   Distribution:                  chi2(5)
Cov. Estimator:             clustered

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
Intercept      7.1404     0.5439     13.127     0.0000      6.0743      8.2065
cc             0.0169     0.0019     8.6652     0.0000      0.0131      0.0207
cc2            0.0003     0.0002     1.4836     0.1379  -9.629e-05      0.0007
cc3        -5.937e-05  2.097e-05    -2.8312     0.0046     -0.0001  -1.827e-05
cc4        -5.906e-06  1.404e-06    -4.2083     0.0000  -8.657e-06  -3.156e-06
agelfted       0.1108     0.0328     3.3771     0.0007      0.0465      0.1751
==============================================================================

Endogenous: agelfted
Instruments: drop15
Clustered Covariance (One-Way)
Debiased: False
Num Clusters: 31

In [16]:
# Column (5)
formula_5 = (
    "learn ~ 1 + cc + cc2 + cc3 + cc4 + "
    "cage + cage2 + cage3 + cage4 + "
    "[agelfted ~ drop15]"
)

res_5 = IV2SLS.from_formula(
    formula_5,
    data=df,
    weights=df["wght"]
).fit(cov_type="clustered", clusters=df["cohort"])

print("\n=== TABLE 2 Column (5) ===")
print(res_5.summary)

=== TABLE 2 Column (5) ===
                          IV-2SLS Estimation Summary
==============================================================================
Dep. Variable:                  learn   R-squared:                      0.1956
Estimator:                    IV-2SLS   Adj. R-squared:                 0.1951
No. Observations:               13118   F-statistic:                    5599.0
Date:                Tue, Nov 25 2025   P-value (F-stat)                0.0000
Time:                        18:56:36   Distribution:                  chi2(9)
Cov. Estimator:             clustered

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
Intercept      7.1264     0.5539     12.866     0.0000      6.0408      8.2121
cc             0.0346     0.0026     13.269     0.0000      0.0295      0.0398
cc2            0.0014     0.0002     5.7932     0.0000      0.0009      0.0019
cc3        -1.331e-05  2.117e-05    -0.6285     0.5297  -5.481e-05   2.819e-05
cc4        -4.437e-06  1.442e-06    -3.0766     0.0021  -7.264e-06  -1.611e-06
cage           0.0223     0.0035     6.3829     0.0000      0.0154      0.0291
cage2         -0.0019     0.0006    -3.1047     0.0019     -0.0031     -0.0007
cage3       1.835e-05   2.69e-05     0.6823     0.4951  -3.437e-05   7.108e-05
cage4      -1.882e-07  2.559e-06    -0.0735     0.9414  -5.204e-06   4.828e-06
agelfted       0.1147     0.0330     3.4728     0.0005      0.0500      0.1794
==============================================================================

Endogenous: agelfted
Instruments: drop15
Clustered Covariance (One-Way)
Debiased: False
Num Clusters: 31

In [17]:
# Build dummy variable part
dummy_part = " + ".join(age_dummy_cols)

# Column (6)
formula_6 = (
    "learn ~ 1 + cc + cc2 + cc3 + cc4 + "
    f"{dummy_part} + "
    "[agelfted ~ drop15]"
)

res_6 = IV2SLS.from_formula(
    formula_6,
    data=df,
    weights=df["wght"]
).fit(cov_type="clustered", clusters=df["cohort"])

print("\n=== TABLE 2 Column (6) ===")
print(res_6.summary)

=== TABLE 2 Column (6) ===
                          IV-2SLS Estimation Summary
==============================================================================
Dep. Variable:                  learn   R-squared:                      0.1901
Estimator:                    IV-2SLS   Adj. R-squared:                 0.1878
No. Observations:               13118   F-statistic:                -4.407e+14
Date:                Tue, Nov 25 2025   P-value (F-stat)                1.0000
Time:                        18:56:45   Distribution:                 chi2(38)
Cov. Estimator:             clustered

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
Intercept      4.9527     0.6834     7.2471     0.0000      3.6132      6.2921
cc             0.0343     0.0030     11.576     0.0000      0.0285      0.0401
cc2            0.0014     0.0003     5.4997     0.0000      0.0009      0.0019
cc3        -1.203e-05  1.988e-05    -0.6053     0.5450  -5.099e-05   2.693e-05
cc4        -4.346e-06    1.4e-06    -3.1042     0.0019  -7.089e-06  -1.602e-06
age_29         2.0246     0.1897     10.674     0.0000      1.6528      2.3963
age_33         0.9654     0.0237     40.699     0.0000      0.9189      1.0119
age_34         1.1052     0.0608     18.183     0.0000      0.9860      1.2243
age_35         1.1897     0.0405     29.342     0.0000      1.1102      1.2692
age_36         1.2434     0.0234     53.081     0.0000      1.1975      1.2893
age_37         1.3726     0.0442     31.064     0.0000      1.2860      1.4593
age_38         1.4270     0.0558     25.552     0.0000      1.3175      1.5364
age_39         1.5545     0.0410     37.874     0.0000      1.4741      1.6349
age_40         1.6135     0.0500     32.278     0.0000      1.5156      1.7115
age_41         1.6756     0.0488     34.308     0.0000      1.5799      1.7713
age_42         1.7442     0.0463     37.692     0.0000      1.6535      1.8349
age_43         1.8290     0.0574     31.879     0.0000      1.7166      1.9415
age_44         1.8350     0.0560     32.766     0.0000      1.7253      1.9448
age_45         1.8959     0.0532     35.644     0.0000      1.7917      2.0002
age_46         1.9303     0.0384     50.321     0.0000      1.8551      2.0055
age_47         2.0000     0.0432     46.294     0.0000      1.9153      2.0847
age_48         2.0221     0.0445     45.457     0.0000      1.9349      2.1093
age_49         2.0628     0.0506     40.763     0.0000      1.9636      2.1620
age_50         2.0661     0.0390     53.003     0.0000      1.9897      2.1425
age_51         2.0971     0.0386     54.310     0.0000      2.0214      2.1728
age_52         2.1162     0.0278     76.183     0.0000      2.0618      2.1707
age_53         2.1421     0.0353     60.683     0.0000      2.0729      2.2113
age_54         2.1614     0.0433     49.939     0.0000      2.0766      2.2462
age_55         2.1544     0.0492     43.808     0.0000      2.0580      2.2508
age_56         2.1817     0.0455     47.962     0.0000      2.0925      2.2708
age_57         2.1525     0.0458     47.013     0.0000      2.0627      2.2422
age_58         2.1946     0.0609     36.038     0.0000      2.0752      2.3139
age_59         2.1748     0.0488     44.597     0.0000      2.0792      2.2704
age_60         2.1643     0.0643     33.664     0.0000      2.0383      2.2903
age_61         2.1231     0.0621     34.195     0.0000      2.0014      2.2448
age_62         2.1535     0.0631     34.133     0.0000      2.0299      2.2772
age_63         2.1119     0.0724     29.155     0.0000      1.9699      2.2539
age_64         2.1108     0.0698     30.228     0.0000      1.9739      2.2477
agelfted       0.1191     0.0393     3.0323     0.0024      0.0421      0.1960
==============================================================================

Endogenous: agelfted
Instruments: drop15
Clustered Covariance (One-Way)
Debiased: False
Num Clusters: 31